.customers__list {
    display: flex;

    list-style: none;
    padding: 0;
    margin: 0;
}

.customers__item {
        flex-basis: calc(100% / 2 - 30px);
        margin-left: 30px;
        margin-bottom: 30px;

        transition: fill var(--timing-functione);


        @media screen and (min-width:768px) {
            flex-basis: calc(100% / 3 - 30px);
            margin-left: 30px;
        }

        @media screen and (min-width:1200px) {
            flex-basis: calc(100% / 6 - 30px);
            margin-left: 30px;
        }
    }

.customers__link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 92px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    transition: border var(--timing-functione);

    &:hover,
    &:focus {
            border: 1px solid var(--accent-color);
            border-radius: 4px;
        }
}

.customers__list>.customers__icon {
    display: flex;
    align-self: center;
    width: auto;
    height: 92px;
}

.customers__icon {
    fill: #AFB1B8;
    transition: fill var(--timing-functione);

    .customers__link:hover &,
    .customers__link:focus & {
            fill: var(--accent-color);
    
        }
}