.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 528px;
    padding: 40px;
    background-color: var(--primari-text-color-teme-dark);
    transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms var(--timing-functione);
}

.close-button {
    position: absolute;
    top: 8px;
    right: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;

    transition: fill var(--timing-functione);


    &:hover,
    &:focus {
    fill: var(--accent-color);
    }
}

.modal-close-icon {
    background-color: var(--primari-text-color-teme-dark);

}
